.header .title {
    font-size: 1.5em;
}

.header .nav-buttons {
    display: flex;
    gap: 10px;
}

.header .nav-buttons button {
    padding: 8px 16px;
    background-color: #014e01;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    font-size: 1em;
    font-family: "Playwrite GB S";
    transition: background-color 0.25s;
}

.header .nav-buttons button:hover {
    background-color: #0c9e44;
}
 
.header .nav-buttons button:focus,
.header .nav-buttons button:active {
    background-color: #012e01;
    transition: none;
}

.header {
    background-color: #014e01;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.bread {
    width: 250px; 
    display: block
}



.pagecontent {
    list-style-position: inside;
}
  
.pagecontent a {
    color: inherit;
    font-weight: 500; 
}

.pagecontent ul {
    padding-left: 20px;
}